/*sign up page*/
*{
  margin:0;
  padding:0;
  box=sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200vh;
  background: white;
  background-color: #D3D3D3
}
.wrapper{
  width:430px;
  background: white;
  text-align: center;
  padding:10px 30px;
}
.wrapper header{
  font-size: 40px;
  font-weight: 600;
}
.wrapper form{
  margin:40px 0;
}
form .field{
  width:100%;
  margin-bottom: 20px;
}
form .field .input-area{
  position: relative;
}
form input{
  height:40px;
  width:350px;
  outline: none;
  padding:0 40px;
  font-size:18px;
  border:1px solid #bfbfbf;
  border-bottom-width: 2px;
}
form.field.error input{
  border-color:red;
}
form input ::placeholder{
  color:#bfbfbf;
  font-size:17px;
}
form .field i{
  position: absolute;
  top:30%;
  font-size: 18px;
  transform: trsnslateY(-50%);
}
form .field .icon{
  left:15px;
  color: black;
}
form .field .error-txt{
  margin-top: 5px;
  color: #dc3545;
  text-align: left;
}
form .field .error-txt{
  display: block;
}
form .field.error .error{
  display: block;
}
form input[type="submit"]{
  height:40px;
  width:430px;
  font-size: 20px;
  margin-top: 30px;
  border: none;
  color:#fff;
  cursor: pointer;
  background: #5372F0;
}
form input[type="submit"]:hover{
  background: #2c52ed;
}

.log a{
  color: black;
  text-decoration: none;
}
